.detail{
    overflow: hidden;
    box-sizing: border-box;
    height: 97vh;
    position: relative;
    padding: 1rem 3rem;

    &--header {
        min-height: 10%;
        max-height: 20%;
        overflow: hidden;
    }
    &--variable {
        height: 40%;
    }
    &--functions {
        height: 40%;
    }
    &--btns {
        position: absolute;
        bottom: 3%;
        right: 3%;
        box-shadow: 0 1rem 1rem rgba($color-black, .3);
        font-size: 9rem;
        color: $color-blue-primary;
        padding: 2rem;
        border-radius: 2rem;
        background-color: $color-grey-light-2;
        transition: transform .3s;
        &:hover {
            transform: translateY(-5px);
        }
        &:active {
            transform: translateY(3px);
        }
    }
}