.detail{
    overflow: hidden;
    box-sizing: border-box;
    height: 97vh;
    position: relative;
    &--header{
        margin-top: 1rem;
        height: 15%;
    }
    &--variable{
        height: 42.5%;
        overflow-y: scroll;
    }
    &--functions{
        height: 42.5%;
        overflow-y: scroll;
    }
    &--btns{
        position: absolute;
        bottom: 3%;
        right: 3%;
        box-shadow: 0 1rem 1rem rgba($color-black,.3);
        font-size: 9rem;
        color: $color-blue-primary;
        padding: 2rem;
        border-radius: 2rem;
        background-color: $color-grey-light-2;
        transition:transform .3s;
        &:hover{
            transform: translateY(-5px);
        }
        &:active{
            transform: translateY(3px);
        }
    }   
}
.detail-page{
    height: 100%;
    padding: 0 2rem;
    position: relative;

    &--basic{
        font-size: 2rem;
        height: 100%;
        &__container{
            height: 100%;
        }
        &__name{
            font-size: 3rem;
            padding-top:2rem;
        }
        &__exp{
            font-size: 2rem;
        }
    }

    &--btn{
      
        // &__cancel{
        // }
        // &__save{
        // }

        &__del,
        &__action{
            position: absolute;
            padding:0rem .5rem;
            font-size: 4rem;
            height: 4.5rem;
            border-radius: 5px;
            transition: all .3s;
            &:hover{
                transform: translateY(-3px);
            }
            &:action{
                transform: translateY(3px);
            }
        }
        &__action{
            top: 2%;
            right:9%;
            &:hover{
                background-color: $color-grey-dark-2;
            }
        }
        &__del{
            top: 1.5%;
            right: 2%;
            &:hover{
                background-color: $color-red-light;
            }
        }
    }
}