.error-page {
    display: flex;
    width: 100vw;
    height: 100vh;

    &--text-container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &--img-container {
        width: 120rem;
        position: absolute;
        top: 30%;
        right: -20%;
        transform: translate(10%, -50%);
    }

}