/*

요소 가로 중앙 정렬
요소 세로 중앙 정렬
요소 중앙

텍스트 중앙
텍스트 가로 정렬
텍스트 세로 정렬

마진 바텀 스몰 미디 빅
마진 탑 스몰 미디 빅

요소 오른쪽 끝으로 붙힘

*/

.item-right{
    display: flex;
    justify-content: end;
}
.item-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-horizontal-center{
    display: grid;
    align-items: center;
    justify-content: center;
}
.item-flex{
    display: flex;
}
.item-width-55{
    width: 55%;
}
.item-li{
    list-style: none;
}
.item-ul{
    padding: 0;
}
.divider{
    border: 1px solid $color-grey-dark-2;
    border-radius: 10px;  
    width: 95%;
    height: .5px; 
    background-color: $color-grey-dark-2;  
}