@mixin absolute-center-bottom($top, $left) {
    position: absolute;
    bottom: $top;
    right: $left;
}

@mixin absCustom($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
    background-color: red;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin absolute-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

@mixin absCustom($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-$left, -$top);
}