.close-box{
    margin: 0rem 1rem;
    position: relative;
    &--close{
        font-size: 2rem;
        border-radius: 4px;
        transition: all .2s;
        position: absolute;
        top: 15%;
        right: 0%;
    }
    &--close:hover{
        background-color: $color-red;
    }
    &--close:active{
        transform: translateY(.2rem);
    }
    &--logo{
        margin-top:1rem ;
        margin-left: 1rem;
        height: 4rem;
        border: 3px solid $color-blue-primary;
        border-radius: 5px;
        transition: all .3s;
    }
    &--logo:hover{
        transform: translateY(-3px);
    }
}
.btn-text{
    border-bottom: 2px solid $color-blue-primary;
    border-radius: 3px;
    padding: .3rem .5rem;
    background-color: transparent;
    text-transform: uppercase;

    &:hover{
        background-image: linear-gradient(to right, $color-blue-primary, $color-blue-secondary) ;
        color:$color-white;
    }
}
.btn-round {
    border-radius: 10rem;
    // text-transform: uppercase;
    color: white;
    background-image: linear-gradient(to right, $color-blue-primary, $color-blue-secondary);
    border: 1px solid transparent;
    z-index: 2;
    font-size: 2rem;
    padding: .3rem 1rem;
    position: relative;
    &::after{
        content: '';
        z-index: -1;
        display: inline-block;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        transition: all .4s;
        border-radius: 10rem;
        background-image: linear-gradient(to right, $color-blue-primary, $color-blue-secondary);
    }
    &:hover {
        border: 1px solid $color-blue-primary;
        background-color: $color-white;
        color: $color-blue-primary;
        background-image: none; 
        box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
        &::after{
            transform: scaleX(1.2) scaleY(1.6);
            opacity: 0;
        }
    }
}
.btn-radio{
    display: none;
}
