.context{
    background-color: $color-white;
    border: 1.5px solid $color-black;
    border-radius: 3px;
    font-size: 1.6rem;
    padding: 1rem 1rem;
    &--menu{
        width: 100%;
        display: block;
        text-align: left;
        margin-top: 1rem;
        padding:.5rem 1rem ;
        &:not(:last-child){
            border-bottom: 1px solid $color-grey-dark-1;
        }
        &:hover{
            background-color:$color-grey-dark-1 ;
        }
    }
}