
.sidebar-header{
    width: 100%;
    height: 10rem;
    &__logo-container {
        width: 90%;
        height: 90%;
        position: relative;
    }
    &__logo{
        height: 60%;
        position: absolute;
        top:30%;
        left: 20%;
        transform: translate(-20%, 0%);
        color: $color-blue-primary;
        transition: all .2s;
    }
    &__logo:hover{
        transform: translate(-20%, 0%) translateY(-5px);
    }
    &__logo:active{
        transform: translate(-20%, 0%) translateY(2px);
    }
}
.sidebar-sub-header {
    font-size: $font-size-big;
    position: relative;
    height: 3rem;
    margin-top: 1.5rem;
    &--content{
        position: absolute;
        left:10%;
        right: 10%;
        display: flex;
        justify-content: end;
        &__feature{
            opacity: 1;
            &__1, &__2{
                border-radius: 3px;
                text-align: center;
                align-items: center;
                display: inline-block;
                width: 3.5rem;
                height: 2.5rem;
                transition: all 0.3s ease; 
            }
            &__1:hover{
                background-color: $color-grey-dark-2;
                transform: translateY(-1px);
            }
            &__2:hover{
                background-color: $color-grey-dark-2;
                transform: translateY(-1px);
            }
            &__1:active{
                background-color: $color-grey-dark-2;
                transform: translateY(2px);
            }
            &__2:active{
                background-color: $color-grey-dark-2;
                transform: translateY(2px);
            }
        }
        &__name{
            letter-spacing: .1rem;
            text-transform: uppercase;
            font-weight:500;
            max-width: 80%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
.sidebar-project{
    margin-top: 3rem;
    &--card:not(:last-child){
        margin-bottom: 1.5rem;
    }
    &--create {
        width: 90%;
        &__input{
            width: 70%;
            outline: 1px solid black;
        }
        &__input:focus{
            outline: 1px solid black;
        }
    }
    &--signin-btn{
        display: block;
        width: 50%;
        margin: 6rem auto;
        padding:.5rem .8rem;
        border: 1px solid black;
        z-index: 1;
    }
}

